@charset "utf-8";
@import url(common.css);

.page {
    width: 100%;
    height: 100%;

}

model-viewer {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 1000px;
    border: none;
}

.fixed {
    position: fixed;
    height: 100%;
}

.square {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -3;
}

.logo {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 317.5px;
    /*1250 625 317.5 158.75 */
    height: 350px;
    /*1400 700 350 175 */
    background: url(../img/carLogo.png) no-repeat center / 100% 100%;
    transform: translateX(-50%);

}

.p9c {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    height: fit-content;
    color: rgb(58, 55, 56);
    font-size: 8vw;
    font-family: cursive;
    z-index: -2;
    
}

.pg2text {
    position: absolute;
    top: 100%;
    left: -50%;
    transform: translateX(-50%);
    font-family: math;
    font-size: 2.4vw;
    color: #fff;
    
}

.dtiBox,
.dti,
.d1,
.d2, 
.d3 {
    position: absolute;

}

.dtiBox {
    top: -60%;
    left: 18.8%;
    width: fit-content;
    height: fit-content;
    
}

.dti {
    font-family: cursive;
    font-size: 2.4vw;
    color: white;
    
}

.d1,
.d2,
.d3 {
    top: 55px;
    font-family: auto;
    font-size: 2.4vw;
    color: rgb(255, 218, 91);

}

.d1 {
    left: 0px

}


.d2 {
    left: 150px;
    
}

.d3 {
    left: 255px;

}

.d1 .body,
.d2 .body,
.d3 .body {
    font-family: auto;
    font-size: 1vw;
    color: #fff;

}

.pg3-1text,
.pg3-2text,
.pg3-3text {
    position: absolute;

}

.pg3-1text {
    top: 30%;
    left: 7%;
    font-family: math;
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
    
}
.pg3-2text {
    top: 25%;
    right: 3%;
    font-size: 1.5vw;
    color: rgb(58, 55, 56);
    
}
.pg3-3text {
    top: 46%;
    right: 3%;
    color: rgb(58, 55, 56);

}

.d {
    outline: #fff;
}