@charset "utf-8";
@import url(common.css);
.page {
    width: 100%;
    height: 100%;

}

#cont {
    height: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .cont {
    position: relative;
    width: 100%;
    height: 100%;
  
  }

  #aSide model-viewer {
    position: absolute;
    top: 700px;
    left: calc(50% - 400px);
    width: 800px;
    height: 800px;
    border: none;
    /* outline: 1px dotted red; */
  
  }

.fixed {
    position: fixed;
    height: 100%;
}

.square1 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
}

.square2 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    top: 100%;
    background: white;
    z-index: -1;
}

header .logo {
    position: absolute;
    top: 30%;
    left: calc(50% - 79.375px);
    width: 158.75px;
    /*1250 625 317.5 158.75 */
    height: 175px;
    /*1400 700 350 175 */
    background: url(../img/carLogo.png)
    no-repeat center / 100% 100%;
    ;

}

/* 개별 페이지 셋팅 */
#pg1 {
    
}


#pg2 {
    background-color: #222;
}

#pg3 {
    background-color: #333;
}

#pg4 {
    background-color: #444;
}

#pg5 {
    background-color: #555;
}

#pg6 {
    background-color: #666;
/* } */
}

#pg7 {
    background-color: #777;
}












