@charset "utf-8";
@import url(common.css);

.page {
    width: 100%;
    height: 100%;

}

model-viewer {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
}

#car_load model-viewer {
    position: absolute;
    width: 0px;
    height: 0px;

}

.fixed {
    position: fixed;
    height: 100%;
}

.square {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    background: rgb(0, 0, 0);
    z-index: -3;
}

.logo {
    width: 317.5px;
    /*1250 625 317.5 158.75 */
    height: 350px;
    /*1400 700 350 175 */
    position: absolute;
    top: 30%;
    left: 50%;
    background: url(../img/carLogo.png) no-repeat center / 100% 100%;
    transform: translateX(-50%);

}

.p9c {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(58, 55, 56, 1);
    font-size: 8vw;
    font-family: cursive;
    z-index: -2;
    
}

.pg2text {
    position: absolute;
    top: 100%;
    left: -50%;
    transform: translateX(-50%);
    font-family: math;
    font-size: 2.4vw;
    color: rgb(255, 255, 255);
    
}

.dtiBox,
.dti,
.d1,
.d2, 
.d3 {
    position: absolute;

}

.dtiBox {
    width: fit-content;
    height: fit-content;
    top: -60%;
    left: -50%;
    
}

.dti {
    font-family: cursive;
    font-size: 2.4vw;
    color: rgb(255, 255, 255);
    
}

.d1,
.d2,
.d3 {
    font-family: auto;
    font-size: 2.4vw;
    color: rgb(253 213 101);

}

.d1 {
    left: 0px

}


.d2 {
    left: 150px;
    
}

.d3 {
    left: 255px;

}

.d1 .body,
.d2 .body,
.d3 .body {
    font-family: auto;
    font-size: 1vw;
    color: rgb(58, 55, 56, 1);

}

.pg3_1text,
.pg3_2text,
.pg3_3text {
    position: absolute;

}

.pg3_1text {
    top: 30%;
    left: -55%;
    font-family: math;
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
    
}
.pg3_2text {
    top: 25%;
    right: -50%;
    font-size: 1.5vw;
    color: rgb(58, 55, 56, 1);
    
}
.pg3_3text {
    top: 46%;
    right: -50%;
    color: rgb(58, 55, 56, 1);

}

.pg4text {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 25%;
    right: -50%;
    font-size: 2.5vw;
}

.shadow_prs {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: -50%;
    left: 65%;
    transform: translateX(-50%);
    font-size: 13vw;
    font-family: cursive;
    color: rgba(227, 227, 227, 1);
}

.pg5text {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 275px;
    left: -50%;
    font-size: 1.4vw;
    color: rgb(255, 255, 255);
}